    body{
        background-color: whitesmoke;
    }

    #underline{
        margin-top: 0;
    }

    #class-title{
        display: inline-block;
        font-size: 64px;
        color: lightskyblue;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 20px;
    }

    #banner-card{
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding-top: 3px;
        padding-left: 10px;
        padding-bottom: 15px;
        margin-bottom: 3%;
    }

    #wrapper{
        display: inline-block;
        margin-top: 10px;
        margin-left: 270px;
        width: 80%;
    }

    #enroll-class-container{
        width:100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: dodgerblue;
        padding-top:10px;
        padding-bottom: 10px;
        margin-top:-10px;
        margin-bottom: 20px;
        padding-right: 50px;
    }

    #enroll-class-container:hover{
        opacity: .7;
    }

    #enroll-class-text{
        color: white;
        font-family: 'Montserrat', sans-serif;
    }

    #create-group-container{
        width:100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: darkgreen;
        padding-top:10px;
        padding-bottom: 10px;
        margin-top:-10px;
        margin-bottom: 20px;
        padding-right: 50px;
    }

    #create-group-container:hover{
        opacity: .7;
    }

    #create-group-container-text{
        color: white;
        font-family: 'Montserrat', sans-serif;
    }

    #assignment-container{
        border: none;
        outline: none;
        color: dodgerblue;
        background-color: whitesmoke;
    }

    #assignment-container:hover{
        opacity: .7;
    }

    #assignment-container-text{
        color: dodgerblue;
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
    }
    #back-to-class-container{
        width:100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: dodgerblue;
        padding-top:10px;
        padding-bottom: 10px;
        margin-top:-10px;
        margin-bottom: 20px;
        padding-right: 50px;
    }
 #back-to-class-container:hover{
        opacity: .7;
    }

    #back-to-class-container-text{
        color: white;
        font-family: 'Montserrat', sans-serif;
    }
    #big-group-button{
        width:100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: dodgerblue;
        padding-top:10px;
        padding-bottom: 10px;
        margin-top:-10px;
        margin-bottom: 20px;
        padding-right: 50px;
    }

    #big-group-button:hover{
        opacity: .7;
    }

    #big-group-button-text{
        color: white;
        font-family: 'Montserrat', sans-serif;
    }
    #students-button{
        font-size: 40px;
        border: none;
        background: none;
        color: gray;
        margin-left:15%;
        margin-bottom: 3%;
    }
    #students-button:hover{
        color: lightskyblue;
    }
    #students-button:focus{
        outline:none;
    }
    #groups-button{
        font-size: 40px;
        border: none;
        background: none;
        color: gray;
        margin-left:15%;
        margin-bottom: 3%;
    }
    #groups-button:hover{
        color: lightskyblue;
    }
    #groups-button:focus{
        outline: none;
    }

    #discussion-button{
        font-size: 40px;
        border: none;
        background: none;
        color: gray;
        margin-left:15%;
        margin-bottom: 3%;
    }
    #discussion-button:hover{
        color: lightskyblue;
    }
    #discussion-button:focus {
        outline: none;
    }
    .student-container{
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 5%;
        padding-left: 10px;
        padding-top:15px;
        padding-right: 10px;
        display: flex;
        padding-bottom: 10px;
    }
    .profile-photo{
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }
    #instructor-name{
        margin-top: -70px;
        font-size: 30px;
        margin-left: 10px;
        color: gray;
    }
    .student-name{
        font-family: 'Montserrat', sans-serif;
        color: lightskyblue;
        font-size: 30px;
    }
    #group-roster{
        display: none;
    }
    .group-container{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 500px;
        min-height: 300px;
        margin-bottom: 5%;
        padding-left: 30px;
        padding-right: 30px;
        padding-top:90px;
        display: inline-block;
        margin-right: 5%;
        text-align: center;
        background: none;
        border: none;
        word-wrap: break-word;
        background-color: white;
    }
    .group-name{
        font-family: 'Montserrat', sans-serif;
        color: lightskyblue;
        font-size: 30px;
        margin-top: 50px;
    }
    #description{
        color: gray;
        font-family: 'Montserrat', sans-serif;
        word-wrap: break-word;
    }
    #skills{
        color: gray;
        font-family: 'Montserrat', sans-serif;
    }
    .enroll-modal-content{
        position: absolute;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        height: 85%;
        width: 60%;
        margin: .5% auto;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        min-width: 850px;
        min-height: 590px;
    }
    #enroll-modal-body{
        margin: 5% 5% 5% 5%;
    }
    #enroll-class-banner{
        width:100%;
        height:20%;
        background-color: lightskyblue;
        text-align: center;
        padding-top: 20px;
    }
    #banner-enroll-class-text{
        font-family: 'Montserrat', sans-serif;
        color: white;
    }

    #enroll-class-description{
        border: 2px solid lightskyblue;
        height: 20%;
        width: 100%;
        text-indent: 10px;
        margin: 0 auto;
        resize: none;
    }
    #enroll-class-button{
        background-color: lightskyblue;
        height: 40px;
        width: 100px;
        color: white;
        border: none;
        margin-left: 40%;
    }
    .skill{
        border: 2px solid lightskyblue;
        outline: none;
    }
    .list-item{
        height: 40px;
        margin-left: 20px;
        display: inline-block;
    }
    .unordered-list{
        list-style: none;
        margin-top:15px;
    }
    .delete-skill{
        display: inline-block;
        height: 28px;
        background: none;
        background-color: lightskyblue;
        color: white;
        border: none;
    }
    #add-skill{
        margin-left: 10px;
        display: inline-block;
        background: none lightskyblue;
        color: white;
        border-radius: 50%;
        outline: none;
        border: none;
    }

    #enroll-class-error-message{
        color: darkred;
        font-size: small;
        margin-bottom: 5%;
    }
    #skill-title{
        font-family: 'Montserrat', sans-serif;
        color: gray;
        margin-top: 10px;
    }
    #info-container{
        word-wrap: break-word;
        width: 700px;
        margin-left: 100px;
    }
    .create-group-modal-content{
        position: absolute;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        height: 60%;
        width: 10%;
        margin: 10% auto;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        min-width: 850px;
    }
    #create-group-modal-body{
        margin: 5% 5% 5% 5%;
    }
    #create-group-banner{
        width:100%;
        height:30%;
        background-color: lightskyblue;
        text-align: center;
        padding-top: 20px;
    }
    #banner-create-group-text{
        font-family: 'Montserrat', sans-serif;
        color: white;
    }
    #group-name-input{
        width: 60%;
        outline: none;
        border: 2px solid lightskyblue;
        padding-left: 10px;
    }
    #group-name-text{
        font-family: 'Montserrat', sans-serif;
        color: gray;
    }
    #create-group-error-message{
        color: darkred;
        font-size: small;
        margin-bottom: 5%;
    }
    #create-group-button{
        background-color: lightskyblue;
        height: 40px;
        width: 200px;
        color: white;
        border: none;
        margin-top: 5px;
    }
    #unenroll-link{
        color: gray;
        float:right;
        margin-right: 20px;
        margin-top: 20px;
    }
    #skill-text{
        margin-top:-2%;
        color: lightskyblue;
        font-family: 'Montserrat', sans-serif;
    }
    #skills-list-text{
        margin-top:-7px;
    }
    #student-group-name-text{
        font-family: 'Montserrat', sans-serif;
        color: gray;
    }
    #student-group-name{
        color: lightskyblue;
    }
    .invite-button{
        background: none;
        outline: none;
        border: none;
        color: lightskyblue;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 10px;
    }
    .students-in-group-text{
        color: gray;
        font-family: 'Montserrat', sans-serif;
    }
    #remove-student{
        margin-right: -200px;
        float: right;
        background: none;
        border: none;
        color: darkred;
        outline:none;
        font-size: 20px;
    }
    #remove-group{
        float: right;
        background: none;
        border: none;
        color: darkred;
        outline:none;
        font-size: 20px;
        z-index: 1;
        margin-top:-60px;
    }
    .remove-modal-content{
        position: absolute;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        height: 40%;
        width: 30%;
        margin: 20% auto;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        min-width: 850px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
        text-align: center;
    }
    #confirm-removal{
        background: none;
        background-color: darkred;
        color: white;
        border: none;
        outline: none;
        height: 50px;
        width: 100px;
        margin-top: 70px;
    }
    #dont-confirm-removal{
        background: none;
        background-color: gray;
        color: white;
        border: none;
        outline: none;
        height: 50px;
        width: 100px;
        margin-top: 70px;
        margin-right: 50px;
    }
    #removal-text{
        color: darkred;
        font-size: 24px;
        font-family: 'Montserrat', sans-serif;
    }
    #enroll-students-link{
        color: gray;
        float:right;
        margin-right: 20px;
        margin-top: 20px;
    }
    #student-search{
        border: 2px solid lightskyblue;
        width: 98%;
        height: 40px;
        outline: none;
        text-indent: 10px;
        margin-bottom: 20px;
        background-color: whitesmoke;
    }
    #group-search{
        border: 2px solid lightskyblue;
        width: 98%;
        height: 40px;
        outline: none;
        text-indent: 10px;
        margin-bottom: 20px;
        background-color: whitesmoke;
    }
    .invite-button-processed-text{
        color: gray;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 10px;
    }
    .row{
        display: flex;
    }
    #group-list{
        margin-left: 5%;
    }

    .message-font {
        font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    }
    .whole-message {
        margin-bottom: 2em;
        word-wrap: break-word;
    }
    .span-parent-content {
        white-space: pre-line;
        margin-left: 1em;
    }

    .message-info {
        float: right;
        clear: right;
    }
    .key-info {
        font-size: 0.7em;
        color: skyblue;
    }
    .value-info {
        font-size: 0.8em;
        color: skyblue;
    }
    .message-date {
        color: #848d95;
    }
    .child-separator {
        color: lightgray;
        opacity: 0.4;
    }
    #add-a-comment {
        color: #848d95;
        margin-left: 2em;
    }
    #add-a-comment:hover {
        text-decoration: underline;
    }
    .child-message {
        margin-top: 1em;
        margin-left: 2em;
    }
    .parent-message {
        background-color: lightgray;
        font-size: 1.2em;
        overflow: auto;
    }
    .description-class {
        width: 100%;
    }
    .subject-class {
        width: 100%;
    }

    .assignment-upload-button {
        width: 100%;
    }
    #form-ul-container {
        list-style-type: none;
    }
    #form-li-container {

    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even){background-color: rgb(198, 199, 199);
    }

    th {
        background-color: lightskyblue;
        color: white;
    }

    a {
        margin-left: 5px;
        text-decoration: none;
        color: cornflowerblue;
    }

    a:hover {
      cursor: pointer;
      color: blue;
    }