#add_class{
    position: relative;
    top: -28px;
    margin-left: 1000px;
    color: darkorange;
}

#explore-title{
    position: absolute;
    margin-top: 35px;
    margin-left: 340px;
    font-family: 'Oleo Script Swash Caps', cursive;
    color: darkorange;
}

.class-container{
    margin-top:120px;
    margin-left: 35%;
    height: 10%;
    width: 25%;
    border-radius: 20px;
}
.class-container:hover{
    opacity: .7;
}
.title-container{
    position:relative;
    height: 100px;
    width: 400px;
    margin-top: -60px;
    background-color: white;
    border-radius: 20px;
    border:3px solid darkorange;
}
.description-container{
    position: relative;
    height:100px;
    width: 500px;
    margin-top: -100px;
    margin-left:75%;
    background-color: darkorange;
    border-radius: 20px;
}

#class-search{
    margin-left:33%;
    margin-top: 12%;
    position:relative;
}

ul.class-list{
    margin-bottom: 0;
    padding: 0;
}
li.class-list-item{
    padding: 0;
    border: 0;
    margin-bottom: 0px;
    margin-left: -3%;
}
#class-name{
    word-wrap: break-word;
    margin-left: 15%;
    margin-top: 6%;
    color: #cc7a00
}
#class-description{
    word-wrap: break-word;
    margin-left: 5%;
    color: white;
    padding-top:10px;
}

#class-search{
    border: 1px solid darkorange;
    border-radius: 20px;
    width: 400px;
    outline: none;
    text-indent: 10px;
}
