{% extends 'base.html' %}
<link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
    <script src="{% static 'assets/js/bootstrap.js' %}"></script>
    <script src="{% static 'assets/js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
{% block content %}
    {% include 'navbar.html' %}
<h1>
    {{ class_ins.class_name }}
</h1>
    <button class="create-book btn btn-primary" type="button" name="button">Publish Assignment</button>
<script type="text/javascript">
    $(document).ready(function() {

        $(".create-book").modalForm({
            formURL: "{% url 'create_assignment' %}"
        });

    });
    </script>
{% endblock %}