<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

{% extends 'base.html' %}
{% block content %}
    {% include 'navbar.html' %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        body{
            background-color: whitesmoke;
        }

        #underline{
            margin-top: 0;
        }

        #class-title{
            display: inline-block;
            font-size: 64px;
            color: lightskyblue;
            font-family: 'Montserrat', sans-serif;
            margin-bottom: 20px;
        }

        #banner-card{
            background-color: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            padding-top: 3px;
            padding-left: 10px;
            padding-bottom: 15px;
            margin-bottom: 3%;
        }

        #wrapper{
            display: inline-block;
            margin-top: 10px;
            margin-left: 270px;
            width: 80%;
        }

        #enroll-class-container{
            width:100%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            background-color: dodgerblue;
            padding-top:10px;
            padding-bottom: 10px;
            margin-top:-10px;
            margin-bottom: 20px;
            padding-right: 50px;
        }

        #enroll-class-container:hover{
            opacity: .7;
        }

        #enroll-class-text{
            color: white;
            font-family: 'Montserrat', sans-serif;
        }

        #create-group-container{
            width:100%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            background-color: darkgreen;
            padding-top:10px;
            padding-bottom: 10px;
            margin-top:-10px;
            margin-bottom: 20px;
            padding-right: 50px;
        }

        #create-group-container:hover{
            opacity: .7;
        }

        #create-group-container-text{
            color: white;
            font-family: 'Montserrat', sans-serif;
        }

        #big-group-button{
            width:100%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            background-color: dodgerblue;
            padding-top:10px;
            padding-bottom: 10px;
            margin-top:-10px;
            margin-bottom: 20px;
            padding-right: 50px;
        }

        #big-group-button:hover{
            opacity: .7;
        }

        #big-group-button-text{
            color: white;
            font-family: 'Montserrat', sans-serif;
        }
        #students-button{
            font-size: 40px;
            border: none;
            background: none;
            color: gray;
            margin-left:15%;
            margin-bottom: 3%;
        }
        #students-button:hover{
            color: lightskyblue;
        }
        #students-button:focus{
            outline:none;
        }
        #groups-button{
            float:right;
            margin-right:25%;
            font-size: 40px;
            border: none;
            background: none;
            color: gray;
        }
        #groups-button:hover{
            color: lightskyblue;
        }
        #groups-button:focus{
            outline: none;
        }
        .student-container{
            background-color: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            margin-bottom: 5%;
            padding-left: 10px;
            padding-top:15px;
            padding-right: 10px;
            display: flex;
            padding-bottom: 10px;
        }
        .profile-photo{
            height: 100px;
            width: 100px;
            border-radius: 50%;
        }
        #instructor-name{
            margin-top: -70px;
            font-size: 30px;
            margin-left: 10px;
            color: gray;
        }
        .student-name{
            font-family: 'Montserrat', sans-serif;
            color: lightskyblue;
            font-size: 30px;
        }
        #group-roster{
            display: none;
        }
        .group-container{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            width: 500px;
            min-height: 300px;
            margin-bottom: 5%;
            padding-left: 30px;
            padding-right: 30px;
            padding-top:90px;
            display: inline-block;
            margin-right: 5%;
            text-align: center;
            background: none;
            border: none;
            word-wrap: break-word;
            background-color: white;
        }
        .group-name{
            font-family: 'Montserrat', sans-serif;
            color: lightskyblue;
            font-size: 30px;
            margin-top: 50px;
        }
        #description{
            color: gray;
            font-family: 'Montserrat', sans-serif;
            word-wrap: break-word;
        }
        #skills{
            color: gray;
            font-family: 'Montserrat', sans-serif;
        }
        .enroll-modal-content{
            position: absolute;
            background-color: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            height: 98%;
            width: 60%;
            margin: .5% auto;
            top:0;
	        bottom: 0;
	        left: 0;
	        right: 0;
            min-width: 850px;
        }
        #enroll-modal-body{
            margin: 5% 5% 5% 5%;
        }
        #enroll-class-banner{
            width:100%;
            height:20%;
            background-color: lightskyblue;
            text-align: center;
            padding-top: 20px;
        }
        #banner-enroll-class-text{
            font-family: 'Montserrat', sans-serif;
            color: white;
        }

        #enroll-class-description{
            border: 2px solid lightskyblue;
            height: 20%;
            width: 100%;
            text-indent: 10px;
            margin: 0 auto;
            resize: none;
        }
        #enroll-class-button{
            background-color: lightskyblue;
            height: 40px;
            width: 100px;
            color: white;
            border: none;
            margin-top:15%;
            margin-left: 40%;
        }
        .skill{
            border: 2px solid lightskyblue;
            outline: none;
        }
        li{
            height: 40px;
            margin-left: 20px;
            display: inline-block;
        }
        ul{
            list-style: none;
            margin-top:15px;
        }
        .delete-skill{
            display: inline-block;
            height: 28px;
            margin-left:-4px;
            margin-bottom: 50000px;
            background: none;
            background-color: lightskyblue;
            color: white;
            border: none;
        }
        #add-skill{
            margin-left: 10px;
            display: inline-block;
            background: none lightskyblue;
            color: white;
            border-radius: 50%;
            outline: none;
            border: none;
        }

        #enroll-class-error-message{
            color: darkred;
            font-size: small;
            margin-bottom: 5%;
        }
        #skill-title{
            font-family: 'Montserrat', sans-serif;
            color: gray;
            margin-top: 10px;
        }
        #info-container{
            word-wrap: break-word;
            width: 700px;
            margin-left: 100px;
        }
        .create-group-modal-content{
            position: absolute;
            background-color: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            height: 60%;
            width: 10%;
            margin: 10% auto;
            top:0;
	        bottom: 0;
	        left: 0;
	        right: 0;
            min-width: 850px;
        }
        #create-group-modal-body{
            margin: 5% 5% 5% 5%;
        }
        #create-group-banner{
            width:100%;
            height:30%;
            background-color: lightskyblue;
            text-align: center;
            padding-top: 20px;
        }
        #banner-create-group-text{
            font-family: 'Montserrat', sans-serif;
            color: white;
        }
        #group-name-input{
            width: 60%;
            outline: none;
            border: 2px solid lightskyblue;
            padding-left: 10px;
        }
        #group-name-text{
            font-family: 'Montserrat', sans-serif;
            color: gray;
        }
        #create-group-error-message{
            color: darkred;
            font-size: small;
            margin-bottom: 5%;
        }
        #create-group-button{
            background-color: lightskyblue;
            height: 40px;
            width: 200px;
            color: white;
            border: none;
            margin-top: 10%;
        }
        #unenroll-link{
            color: gray;
            float:right;
            margin-right: 20px;
            margin-top: 20px;
        }
        #skill-text{
            margin-top:-2%;
            color: lightskyblue;
            font-family: 'Montserrat', sans-serif;
        }
        #skills-list-text{
            margin-top:-7px;
        }
        #student-group-name-text{
            font-family: 'Montserrat', sans-serif;
            color: gray;
        }
        #student-group-name{
            color: lightskyblue;
        }
        #invite-button{
            color: lightskyblue;
            font-family: 'Montserrat', sans-serif;
            margin-bottom: 100px;
        }
        .students-in-group-text{
            color: gray;
            font-family: 'Montserrat', sans-serif;
        }
        #remove-student{
            margin-right: -200px;
            float: right;
            background: none;
            border: none;
            color: darkred;
            outline:none;
            font-size: 20px;
        }
        #remove-group{
            float: right;
            background: none;
            border: none;
            color: darkred;
            outline:none;
            font-size: 20px;
            z-index: 1;
            margin-top:-60px;
        }
        .remove-modal-content{
            position: absolute;
            background-color: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            height: 40%;
            width: 30%;
            margin: 20% auto;
            top:0;
	        bottom: 0;
	        left: 0;
	        right: 0;
            min-width: 850px;
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 30px;
            text-align: center;
        }
        #confirm-removal{
            background: none;
            background-color: darkred;
            color: white;
            border: none;
            outline: none;
            height: 50px;
            width: 100px;
            margin-top: 70px;
        }
        #dont-confirm-removal{
            background: none;
            background-color: gray;
            color: white;
            border: none;
            outline: none;
            height: 50px;
            width: 100px;
            margin-top: 70px;
            margin-right: 50px;
        }
        #removal-text{
            color: darkred;
            font-size: 24px;
            font-family: 'Montserrat', sans-serif;
        }
        #enroll-students-link{
            color: gray;
            float:right;
            margin-right: 20px;
            margin-top: 20px;
        }
        #student-search{
            border: 2px solid lightskyblue;
            width: 98%;
            height: 40px;
            outline: none;
            text-indent: 10px;
            margin-bottom: 20px;
            background-color: whitesmoke;
        }
        #group-search{
            border: 2px solid lightskyblue;
            width: 98%;
            height: 40px;
            outline: none;
            text-indent: 10px;
            margin-bottom: 20px;
            background-color: whitesmoke;
        }
    </style>

    {% if invalid %}
        <p style="margin-left: 300px; margin-top: 80px; position:absolute">This class does not exist.</p>
    {% else %}
        <div id="wrapper">
            <div id="banner-card">
                <h1 id = "class-title">{{class.class_name}}</h1>
                {% if enrolled %}
                    <a id="unenroll-link" href="/groups/class/unenroll/{{ class.class_id }}">Unenroll from class</a>
                {% elif request.user.pk == class.instructor_instance.account_id %}
                    <a id="enroll-students-link" href="enrollstudents/{{ class.class_id }}">Enroll students into your class</a>
                {% endif %}
                <a id="instructor-name" href="/account/{{ class.instructor_instance.account_id }}">{{ class.instructor_instance.first_name }} {{ class.instructor_instance.last_name }}</a>
                <br>
                <hr id="underline" style="width:50px;border:5px solid lightskyblue" class="w3-round">
                <br>
            </div>
            {% if not enrolled and user.account_id != class.instructor_instance_id %}
                <button id="enroll-class-container">
                    <h1 id="enroll-class-text">Enroll in Class</h1>
                </button>
                <div id="enroll-modal" class="modal">
                    <button class="close">&times;</button>
                    <div class="enroll-modal-content">
                        <div id="enroll-class-banner">
                            <h3 id="banner-enroll-class-text">Enroll in {{ class.class_name }}</h3>
                        </div>
                        <div id="enroll-modal-body">
                            <textarea placeholder="Give a description about yourself!" id="enroll-class-description"></textarea>
                            <p id="skill-title">What skills do you have that are relevant to this class?</p>
                            <ul id="skill_list"><li id="skill_0">
                                <input class = "skill" name="skill_set_0">
                                <button class="delete-skill" onclick="deleteSkill(this)">X</button>
                                </li><button id="add-skill" onclick="addSkill()">+</button></ul>
                            <button id="enroll-class-button" onclick="enroll()">Enroll</button>
                        </div>
                    </div>
                </div>
                {% elif not in_group %}
                    <button id="create-group-container">
                        <h1 id="create-group-container-text">Start a Group</h1>
                    </button>
                    <div id="create-group-modal" class="modal">
                        <button class="close">&times;</button>
                        <div class="create-group-modal-content">
                            <div id="create-group-banner">
                                <h3 id="banner-create-group-text">Start a Group in {{ class.class_name }}</h3>
                            </div>
                            <div id="create-group-modal-body">
                                <p id="group-name-text">Give your group a name</p>
                                <input id = "group-name-input" name="group-name">
                                <br>
                                <button id="create-group-button" onclick="createGroup()">Create Group</button>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <button id="big-group-button" onclick="window.location.href='/groups/{{ own_group.group_id }}'">
                        <h1 id="big-group-button-text">Your group is: {{ own_group.group_name }}</h1>
                    </button>
            {% endif %}
            <div>
                <button id="students-button" onclick="changeToStudentRoster()">Students</button>
                <button id="groups-button" onclick="changeToGroupRoster()">Groups</button>
            </div>

            <div id="student-roster">
                <input type="text" id="student-search" onkeyup="studentSearch()" placeholder="Search for Students">
                {% for k,v in student_descriptions_skills.items %}
                    <div class="student-container" id="{{ k.student_instance.account_id }}">
                        {% if k.student_instance.profile_photo %}
                            <img class="profile-photo" src="{{ k.student_instance.profile_photo.url }}"/>
                        {% else %}
                            <img class="profile-photo" src="../../media/default.jpg"/>
                        {% endif %}
                        <div id="info-container">
                            {% if request.user.pk == class.instructor_instance.pk %}
                                <button onclick="removeStudentModal(this)" id="remove-student">X</button>
                            {% endif %}
                            <a class="student-name" href="/account/{{ k.student_instance.account_id }}">{{ k.student_instance.first_name }} {{ k.student_instance.last_name }}</a>
                            <p id="description">{{ v.description }}</p>
                            <br>
                            <div id="skills">
                                <p id="skill-text">Skills:</p>
                                <p id="skills-list-text">{{ v.skills }}</p>
                            </div>
                            <p class='email' style="display:none;">{{ v.email }}</p>
                            <br>
                            {% if "group" in v %}
                                <p id="student-group-name-text">This student is in the following group: <a href="/groups/{{ v.group.group_id }}" id="student-group-name">{{ v.group.group_name }}</a></p>
                            {% elif in_group %}
                                <a id="invite-button" href="/groups/invite">+ Invite student to your group</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div id="group-roster">
                <input type="text" id="group-search" onkeyup="groupSearch()" placeholder="Search for Groups">
                {% for k,v in groups.items %}
                    <div class="group-container" id="{{ k.group_id }}">
                        {% if request.user.pk == class.instructor_instance.pk %}
                            <button onclick="removeStudentModal(this)" id="remove-group">X</button>
                        {% endif %}
                        <a href="/groups/{{ k.group_id }}" class="group-name">{{ k.group_name }}</a>
                        <p class="students-in-group-text">{{ v }}</p>
                    </div>
                {% endfor %}
            </div>

            <div id="remove-modal" class="modal">
                <div id="remove-modal-body" class="remove-modal-content">
                    <button id="dont-confirm-removal">No</button>
                    <button id="confirm-removal" onclick="remove()">Yes</button>
                </div>
            </div>
    {% endif %}
    <script>
        window.onload = function() {
            changeToStudentRoster();
        };
        function changeToStudentRoster(){
            document.getElementById("groups-button").setAttribute("style", 'color:gray');
            document.getElementById("students-button").setAttribute("style", 'color:lightskyblue');
            document.getElementById("student-roster").style.display = "block";
            document.getElementById("group-roster").style.display = "none";
        }
        function changeToGroupRoster(){
            document.getElementById("students-button").setAttribute("style", 'color:gray');
            document.getElementById("groups-button").setAttribute("style", 'color:lightskyblue');
            document.getElementById("student-roster").style.display = "none";
            document.getElementById("group-roster").style.display = "block";
        }

        var enrollModal = document.getElementById("enroll-modal");
        var enrollButton = document.getElementById("enroll-class-container");
        //var span = document.getElementsByClassName("close")[0];
        let enrollModalBody = document.getElementById("enroll-modal-body");
        let enroll_message_error_displayed = false;

        var createGroupModal = document.getElementById("create-group-modal");
        var createGroupButton = document.getElementById("create-group-container");
        //var span = document.getElementsByClassName("close")[0];
        let createGroupModalBody = document.getElementById("create-group-modal-body");
        let create_group_message_error_displayed = false;

        function createGroup(){
            let groupName = document.getElementById("group-name-input").value;
            if((!groupName.replace(/\s/g, '').length || groupName.length > 50) && !create_group_message_error_displayed){
                let p = document.createElement('p');
                p.setAttribute("id", "create-group-error-message");
                p.innerHTML = "You must provide a valid group name. Please make sure you haven't exceeded the maximum character limit of 50";
                createGroupModalBody.prepend(p);
                create_group_message_error_displayed = true;
            }
            else{
                console.log(groupName);
                $.ajax({
                    url: '/groups/class/creategroup/{{ class.class_id }}',
                    method: 'post',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'group_name': groupName,
                        'class_id': '{{ class.class_id }}'
                    },
                    dataType: 'json',
                    success: function (data) {
                        console.log("/groups/" + data);
                        window.location.href = "/groups/" + data["group_id"];
                    },
                    error: function (data){
                    }
                  });

            }
        }

        function enroll(){
            let description = document.getElementById("enroll-class-description").value;
            let iter = document.getElementsByClassName("skill");
            let skills = [];
            for(var i = 0; i < iter.length; i++){
                var skill = iter[i].value;
                if(skill != null){
                    if (skill.length>0 && skill.replace(/\s/g, '').length){
                        skills.push(skill)
                    }
                }
            }
            if((skills.length === 0 || !description.replace(/\s/g, '').length) && !enroll_message_error_displayed){
                let p = document.createElement('p');
                p.setAttribute("id", "enroll-class-error-message");
                p.innerHTML = "You must provide a valid description and at least one skill.";
                enrollModalBody.prepend(p);
                enroll_message_error_displayed = true;
            }
            else{
                $.ajax({
                    url: '/groups/class/enroll/{{ class.class_id }}',
                    method: 'post',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'description': description,
                        'skills': skills,
                        'class_id': '{{ class.class_id }}'
                    },
                    dataType: 'json',
                    success: function (data) {
                        window.location.href="/groups/class/{{ class.class_id }}"
                    },
                    error: function (data){
                    }
                  });
            }
        }

        {% if not enrolled and request.user.pk != class.instructor_instance.account_id %}
            enrollButton.onclick = function() {
              enrollModal.style.display = "block";
            };
        {% endif %}

        {% if enrolled or request.user.pk == class.instructor_instance.account_id and not in_group %}
            createGroupButton.onclick = function(){
              createGroupModal.style.display="block";
            };
        {% endif %}

        window.onclick = function(event) {
          if (event.target == enrollModal) {
              if(enroll_message_error_displayed) {
                  enrollModalBody.removeChild(document.getElementById("enroll-class-error-message"));
                  enroll_message_error_displayed = false;
                }
              enrollModal.style.display = "none";
          }
          if (event.target == createGroupModal) {
              if(create_group_message_error_displayed) {
                  createGroupModalBody.removeChild(document.getElementById("create-group-error-message"));
                  create_group_message_error_displayed = false;
                }
              createGroupModal.style.display = "none";
          }
          if(event.target == removeModal){
              removeModal.removeChild(document.getElementById("removal-text"));
              removeModal.style.display = "none";
          }
        };

        var skill_num = 1;
        function addSkill(){
            let ul, li;
            ul = document.getElementById("skill_list")
            console.log("skill_" + (skill_num-1));
            li = document.createElement('li');
            li.id = "skill_" + skill_num;
            li.class = "skill";
            li.innerHTML = "<input class='skill' name='skill_set_" + skill_num + "'> <button class=\"delete-skill\" onclick=\"deleteSkill(this)\">X</div>";
            ul.insertBefore(li, ul.childNodes[ul.childNodes.length-1])
            skill_num++;
            if (ul.childNodes.length > 9){
                document.getElementById("add-skill").style.display = "none"
            }
        }
        function deleteSkill(elem){
            let ul, id;
            id = elem.parentElement.id;
            ul = document.getElementById("skill_list");
            ul.removeChild(document.getElementById(id));
            if(ul.childNodes.length <= 9){
                document.getElementById("add-skill").style.display = "inline-block"
            }
        }

        let studentToRemove = null;
        let groupToRemove = null;
        var removingStudent = false;
        let id = null;
        removeModal = document.getElementById("remove-modal");
        removeModalBody = document.getElementById("remove-modal-body");
        noButton = document.getElementById("dont-confirm-removal");
        yesButton = document.getElementById("confirm-removal");

        noButton.onclick = function() {
            removeModalBody.removeChild(document.getElementById("removal-text"));
            removeModal.style.display = "none";
        };
        function removeStudentModal(elem){
            let parent = elem.parentElement;
            if(parent.id === "info-container"){
                parent = parent.parentElement;
            }
            let idToRemove = parent.class;
            console.log(parent);
            if(parent.className === "student-container"){
                id = parent.id;
                removingStudent = true;
                let p = document.createElement('p');
                p.setAttribute("id", "removal-text");
                p.innerHTML = "Are you sure you want to remove this student from your class?";
                removeModalBody.prepend(p);
            }
            else{
                console.log(parent);
                console.log(parent.class);
                id = parent.id;
                removingStudent = false;
                let p = document.createElement('p');
                p.setAttribute("id", "removal-text");
                p.innerHTML = "Are you sure you want to delete this group? Doing this will remove all students from the group.";
                removeModalBody.prepend(p);
            }
            removeModal.style.display="block";
        }

        function remove(){
            if(removingStudent){
                $.ajax({
                    url: '/groups/class/removestudent/',
                    method: 'post',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'student_id': id,
                        'class_id': '{{ class.class_id }}'
                    },
                    dataType: 'json',
                    success: function (data) {
                        window.location.href="/groups/class/{{ class.class_id }}"
                    },
                    error: function (data){
                    }
                  });
            }
            else{
                $.ajax({
                    url: '/groups/class/removegroup/',
                    method: 'post',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'group_id': id,
                        'class_id': '{{ class.class_id }}'
                    },
                    dataType: 'json',
                    success: function (data) {
                        window.location.href="/groups/class/{{ class.class_id }}"
                    },
                    error: function (data){
                    }
                  });
            }
        }
        function studentSearch(){
            // Declare variables
          var input, filter, studentContainers, sc, a, i, b, txtValue, txtValue2;
          input = document.getElementById('student-search');
          filter = input.value.toUpperCase();
          sc = document.getElementsByClassName("student-container");
          // Loop through all list items, and hide those who don't match the search query
          for (i = 0; i < sc.length; i++) {
            a = sc[i].getElementsByClassName("email")[0];
            b = sc[i].getElementsByClassName("student-name")[0];
            console.log(a);
            console.log(b);
            txtValue = a.textContent || a.innerText;
            txtValue2 = b.textContent || b.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              sc[i].style.display = "";
            }
            else if(txtValue2.toUpperCase().indexOf(filter) > -1){
                sc[i].style.display = "";
            }
            else {
              sc[i].style.display = "none";
            }
          }
        }
        function groupSearch(){
            // Declare variables
          var input, filter, studentContainers, sc, a, i, b, txtValue, txtValue2;
          input = document.getElementById('group-search');
          filter = input.value.toUpperCase();
          sc = document.getElementsByClassName("group-container");
          // Loop through all list items, and hide those who don't match the search query
          for (i = 0; i < sc.length; i++) {
            a = sc[i].getElementsByClassName("group-name")[0];
            b = sc[i].getElementsByClassName("students-in-group-text")[0];
            txtValue = a.textContent || a.innerText;
            txtValue2 = b.textContent || b.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              sc[i].style.display = "";
            }
            else if(txtValue2.toUpperCase().indexOf(filter) > -1){
                sc[i].style.display = "";
            }
            else {
              sc[i].style.display = "none";
            }
          }
        }
    </script>
{%endblock %}