{% extends 'base.html' %}
{% block content %}
    {% include 'navbar.html' %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        {#.has-border {#}
        {#    border: 2px solid navy;#}
        {#    border-radius: 5px;#}
        {#}#}
        .parent-message {
            background-color: whitesmoke;
            font-size: 1.2em;
            overflow: auto;
        }
        .child-message {
            margin-top: 1em;
            margin-left: 2em;
        }
        .child-separator {
            color: lightgray;
            opacity: 0.4;
        }
        textarea {
            width: 90%;
        }
        .span-parent-content {
            white-space: pre-line;
        }
        .message-info {
            float: right;
            clear: right;
        }
        a {
            margin-left: 5px;
            text-decoration: none;
            color: cornflowerblue;
        }
        a:hover {
          cursor: pointer;
          color: blue;
        }
        .key-info {
            font-size: 0.7em;
            color: skyblue;
        }
        #add-a-comment {
            color: #848d95;
        }
        .message-font {
            font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
        }
        .value-info {
            font-size: 0.8em;
            color: skyblue;
        }
        .message-date {
            color: #848d95;
        }
        .whole-message {
            margin-bottom: 2em;
            word-wrap: break-word;
        }
        .discussion-page {
            margin-left: 270px;
            margin-right: 50px;
        }
        #banner-card{
            background-color: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            padding-top: 3px;
            padding-left: 10px;
            padding-bottom: 15px;
            margin-bottom: 3%;
        }
        .wrapper{
                display: inline-block;
                margin-top: 10px;
                margin-left: 270px;
                width: 80%;
        }
        #group-title{
                display: inline-block;
                font-size: 64px;
                color: lightskyblue;
                font-family: 'Montserrat', sans-serif;
                margin-bottom: 20px;
        }
        #start-new-topic-button {
            background-color: skyblue;
            border: none;
            color: white;
            padding: 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
            margin: 4px 2px;
            border-radius: 12px;
        }
        #create-new-message-area {
            margin-bottom: 2em;
        }
        #big-group-button {
            width: 100%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            background-color: dodgerblue;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-top: -10px;
            margin-bottom: 20px;
            padding-right: 50px;
            font-size: 2em;
            color: whitesmoke;
        }
        #big-group-button:hover {
            opacity: .7;
        }
        button:focus {
            outline:0;
        }
    </style>

    <div class="discussion-page wrapper">
        <div id="banner-card">
            <h1 id = "group-title">{{group_instance.group_name}}'s Discussions</h1>
            <br>
            <a href="../groups/{{ group_instance.group_id }}">Back to group</a>
        </div>
    {% if is_enrolled or is_instructor %}
        <div id="message-board" class="has-border">
            <div id="create-new-message-area">
                <button id="big-group-button" onclick="create_form(this, -5)">Start New Topic</button>
            </div>
            {% for key, values in msg_dict.items %}
                <div class="has-border message-font whole-message">
                    <div class="parent-message">
                        <span class="span-parent-content">{{ key.body }}</span>
                        <span class="message-info">
                        <a href="../account/{{ key.creator.account_id }}" class="key-info">{{ key.creator.first_name }}</a>
                        <i class="key-info message-date">{{ key.date }}</i>
                        {% if requesterID == key.creator.account_id or is_instructor %}
                            <a href="" onclick="delete_post({{ key.message_id }})" class="key-info">delete</a>
                        {% endif %}
                        </span>
                    </div>

                    <div class="child-message">
                        {% for val in values %}
                            <div>
                                {{ val.body }} -
                                <a href="../account/{{ val.creator.account_id }}" class="value-info">{{ val.creator.first_name }}</a>
                                <i class="value-info message-date">{{ val.date }}</i>
                                {% if requesterID == val.creator.account_id or is_instructor %}
                                    <a href="" onclick="delete_post({{ val.message_id }})" class="value-info">delete</a>
                                {% endif %}
                            </div>
                            <hr class="child-separator">
                        {% endfor %}
                        <a onclick="create_form(this, {{ key.message_id }})" id="add-a-comment">add a comment</a>
                    </div>
                    <hr>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
function create_form(this_element, pid) {
    $(".post_form").remove();
    let container, body, buttonElement, cancel;
    parent = this_element.parentElement;

    container = document.createElement('div');
    container.setAttribute('class', "post_form");

    body = document.createElement('textarea'); //input element, text
    body.setAttribute('type',"text");
    body.setAttribute('id',"reply_"+pid);
    body.onkeydown = function(event) {
        var shiftKey = event.shiftKey;

        if (shiftKey && event.key === 'Enter') {
            create_post(pid, body.id);
        }
        if (event.key === 'Escape' || event.key === 'Esc') {
            cancel_post(this);
        }
    };

    buttonElement = document.createElement('a');
    buttonElement.innerHTML = "post";
    buttonElement.onclick = function () { create_post(pid, body.id) };

    cancel = document.createElement('a');
    cancel.innerHTML = "cancel";
    cancel.onclick = function () { cancel_post(this) };

    container.appendChild(body);
    container.appendChild(document.createElement('br'));
    container.appendChild(buttonElement);
    container.appendChild(cancel);

    parent.appendChild(container);

}

function create_post(parent_id,body_id){
    var bodyElement = document.getElementById(body_id);
    var body = bodyElement.value;
    if (body === "") {
        return ;
    }
    console.log(parent_id, body_id);
        $.ajax({
                url: '/discussion/create/',
                method: 'post',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'body': body,
                    'group_id': '{{ group_instance.group_id }}',
                    'parent_id': parent_id
                },
                dataType: 'json',
                success: function (data) {
                    if(data["result"]){
                        window.location.href = "";
                    }
                    else {
                        alert("fail to reply");
                    }
                },
                error: function (data){
                }
              });
    }

function delete_post(post_id){
    $.ajax({
            url: '/discussion/delete/',
            method: 'post',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'post_id': post_id
            },
            dataType: 'json',
            success: function (data) {
                if(data["result"]){
                    window.location.href = "";
                }
                else {
                    alert("fail to delete");
                }
            },
            error: function (data){
            }
          });
}

function cancel_post(element) {
    let parent = element.parentElement;
    let grand = parent.parentElement;
    grand.removeChild(parent);
}

window.onbeforeunload = function () {
    var scrollPos;   
    if (typeof window.pageYOffset != 'undefined') {
       scrollPos = window.pageYOffset;
    }
    else if (typeof document.compatMode != 'undefined' &&
         document.compatMode !== 'BackCompat') {
       scrollPos = document.documentElement.scrollTop;
    }
    else if (typeof document.body != 'undefined') {
       scrollPos = document.body.scrollTop;
    }
    document.cookie="scrollTop="+scrollPos;
};

window.onload = function () {
    if(document.cookie.match(/scrollTop=([^;]+)(;|$)/)!=null){
        var arr=document.cookie.match(/scrollTop=([^;]+)(;|$)/);
        document.documentElement.scrollTop=parseInt(arr[1]);
        document.body.scrollTop=parseInt(arr[1]);
    }
};

</script>
{% endblock %}