{% extends 'base.html' %}
{% block content %}
    <style>
        .has-board {
            border: 2px solid navy;
            border-radius: 5px;
        }
        .parent-message {
            border-bottom: 6px solid red;
            background-color: lightgrey;
            font-size: 1.5em;
        }
        .child-message {
            margin-left: 2em;
        }
        .child-separator {
            color: lightgray;
            opacity: 0.4;
        }
    </style>

    <h1>Discussion Page</h1>
    {% if in_group %}
        <div id="message-board" class="has-board">
            {% for key, values in msg_dict.items %}
                <div class="has-board">
                    <div class="parent-message">{{ key.body }}</div>
                    <button onclick="delete_post({{ key.message_id }})">delete</button>
                    <div class="child-message">
                        {% for val in values %}
                            <div>
                                <p>{{ val.body }} date:{{ val.date }} creator:{{ val.creator.first_name }}</p>
                                <button onclick="">edit</button>
                                <button onclick="delete_post({{ val.message_id }})">delete</button>
                            </div>
                            <hr class="child-separator">
                        {% endfor %}
                        <button onclick="create_form(this, {{ key.message_id }})">+ reply</button>
                    </div>

                </div>
            {% endfor %}
        </div>
    {% endif %}
    <div>{{ group_instance }}</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
function create_form(this_element, pid) {
    $(".post_form").remove();
    let parent_id, container, body, buttonElement, cancel;
    parent = this_element.parentElement;
    console.log(parent.id);

    container = document.createElement('div');
    container.setAttribute('class', "post_form");

    body = document.createElement('input'); //input element, text
    body.setAttribute('type',"text");
    body.setAttribute('id',"reply_"+pid);

    buttonElement = document.createElement('button');
    buttonElement.innerHTML = "post";
    buttonElement.onclick = function () { create_post(pid, body.id) };

    cancel = document.createElement('button');
    cancel.innerHTML = "cancel";
    cancel.onclick = function () { cancel_post(this) };

    container.appendChild(body);
    container.appendChild(buttonElement);
    container.appendChild(cancel);

    parent.appendChild(container);

}

function create_post(parent_id,body_id){
    var bodyElement = document.getElementById(body_id);
    var body = bodyElement.value;
    console.log(parent_id, body_id);
        $.ajax({
                url: '/discussion/create/',
                method: 'post',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'body': body,
                    'group_id': '{{ group_instance.group_id }}',
                    'parent_id': parent_id
                },
                dataType: 'json',
                success: function (data) {
                    if(data["result"]){
                        window.location.href = ""
                    }
                    else {
                        alert("fail to reply");
                    }
                },
                error: function (data){
                }
              });
    }

function delete_post(post_id){
    $.ajax({
            url: '/discussion/delete/',
            method: 'post',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'post_id': post_id
            },
            dataType: 'json',
            success: function (data) {
                if(data["result"]){
                    window.location.href = ""
                }
                else {
                    alert("fail to delete");
                }
            },
            error: function (data){
            }
          });
}

function edit_post(post_id, new_body){
    $.ajax({
            url: '/discussion/edit/',
            method: 'post',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'post_id': post_id,
                'new_body': new_body
            },
            dataType: 'json',
            success: function (data) {
                if(data["result"]){
                    window.location.href = ""
                }
                else {
                    window.location.href = ""
                }
            },
            error: function (data){
            }
          });
}

function cancel_post(element) {
    let parent = element.parentElement;
    let grand = parent.parentElement;
    grand.removeChild(parent);
}

</script>
{% endblock %}