<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href = "../static/css/explore.css">
<link href="https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <h1 id="explore-title">Explore</h1>
    {% include 'navbar.html' %}

    <div style="margin-right:auto; width: 1100px;">
        <input type="text" id="class-search" onkeyup="classSearch()" placeholder="Search for a Class!">


    <ul id="classes-list" class="class-list">
        {% if user.is_instructor %}
            <a id="add_class" href="/explore/create">+ Add a Class</a>
        {% endif %}
        {% for class in classes %}
            <li class="class-list-item">
                <div class="class-container" onclick="redirectToClass('{{ class.class_id }}')">
                    <div class="title-container">
                        <p id="class-name">{{ class.class_name }}</p>
                    </div>
                    <div class="description-container">
                        <p id="class-description">{{ class.description }}</p>
                    </div>
                </div>
            </li>
    {% endfor %}
    </ul>
    </div>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}

<script>
function classSearch() {
  // Declare variables
  var input, filter, ul, li, a, i, b, txtValue, txtValue2;
  input = document.getElementById('class-search');
  filter = input.value.toUpperCase();
  ul = document.getElementById("classes-list");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("p")[0];
    b = li[i].getElementsByTagName("p")[1];
    txtValue = a.textContent || a.innerText;
    txtValue2 = b.textContent || b.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    }
    else if(txtValue2.toUpperCase().indexOf(filter) > -1){
        li[i].style.display = "";
    }
    else {
      li[i].style.display = "none";
    }
  }
}

function redirectToClass(class_id) {
    window.location.href = "/groups/class/" + class_id;
}
</script>

{% endblock %}