<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        body{
            background-color: whitesmoke;
        }
        #explore-title{
            font-size: 64px;
            color: lightskyblue;
            font-family: 'Montserrat', sans-serif;
        }
        #wrapper{
            display: inline-block;
            margin-top: 10px;
            margin-left: 270px;
            width: 80%;
        }
        #banner-card{
            background-color: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            padding-top: 3px;
            padding-left: 10px;
            padding-bottom: 15px;
            margin-bottom: 3%;
        }
        #underline{
            margin-top: 0;
        }
        #class-search{
            border: 2px solid lightskyblue;
            width: 98%;
            height: 40px;
            outline: none;
            text-indent: 10px;
        }

        .class-container{
            display: flex;
            margin-bottom: 2%;
        }
        .class-name-container{
            background-color: whitesmoke;
            border: 2px solid lightskyblue;
            width: 45%;
            padding-top: 80px;
            padding-bottom: 100px;
            float: left;
            word-wrap: break-word;
            word-break: break-word;
            text-align: center;
            -webkit-transition: background-color .5s;
            -moz-transition:    background-color .5s;
            -ms-transition:     background-color .5s;
            -o-transition:      background-color .5s;
            transition:         background-color .5s;
        }
        .class-name-container:hover{
            background-color: dodgerblue;
            border-color: dodgerblue;
        }
        .class-name-container:hover .class-name{
            color: white !important;
        }
        .class-name-container:hover .instructor-name{
            color: lightgray !important;
        }

        .description-container{
            background-color: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            word-break: break-word;

        }
        .class-name{
            color: lightskyblue;
            font-family: 'Montserrat', sans-serif;
            font-size: 40px;
        }
        .description-label{
            color: lightskyblue;
        }
        .description-container{
            margin-left: 3%;
            width: 100%;
            padding-left: 10px;
            padding-right:10px;
        }
        .description{
            font-size: 20px;
            color: gray;
        }

        .instructor-name{
            color: gray;
            font-size: 30px;
        }

        #add-class-container{
            width:100%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            background-color: dodgerblue;
            padding-top:10px;
            padding-bottom: 10px;
            margin-top:-10px;
            margin-bottom: 20px;
            padding-right: 50px;
        }

        #add-class-container:hover{
            opacity: .7;
        }

        #add-class-text{
            color: white;
            font-family: 'Montserrat', sans-serif;
        }
        li{
            list-style-type: none;
        }
        .modal-content{
            position: absolute;
            background-color: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            height: 90%;
            width: 60%;
            margin: 2% auto;
            top:0;
	        bottom: 0;
	        left: 0;
	        right: 0;
        }

        .modal-body-status{
            position: absolute;
            background-color: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            height: 40%;
            width: 40%;
            margin: 10% auto;
            top:0;
	        bottom: 0;
	        left: 0;
	        right: 0;
            padding-top: 20px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
        }
        #add-class-class-name{
            border: 2px solid lightskyblue;
            height: 10%;
            width: 80%;
            text-indent: 10px;
            margin: 15% auto;
        }
        #add-class-class-description{
            border: 2px solid lightskyblue;
            height: 40%;
            width: 80%;
            text-indent: 10px;
            margin: -12% auto;
            resize: none;
        }
        .close{
            color: red;
            position:absolute;
            margin-left: 76%;
            margin-top:3%;
            z-index:1;
            width: 10px;
        }

        #add-class-error-message{
            color: darkred;
            font-size: small;
            margin-top:12%;
            margin-bottom: -10%;
        }

        #add-class-success-message{
            color: darkgreen;
            font-size: small;
            margin-top:12%;
            margin-bottom: -10%;
        }

        #modal-body{
            margin: -5% auto;
            padding-left: 10%;
            padding-right: 10%;
        }
        #add-class-banner{
            width:100%;
            height:20%;
            background-color: lightskyblue;
            text-align: center;
        }
        #banner-add-class-text{
            font-family: 'Montserrat', sans-serif;
            color: white;
        }
        #create-class-button{
            background-color: lightskyblue;
            height: 40px;
            width: 100px;
            color: white;
            border: none;
            margin-top:15%;
            margin-left: 28%;
        }
        #create-class-button:hover{
            opacity: .7;
        }
        #create-class-success-message{
            color: gray;
            font-size: 20px;
        }
        #create-class-redirect{
            color: dodgerblue;
            position: relative;
        }
        #create-class-redirect:hover{
            text-decoration: underline;
        }
        #search-icon{
            color: lightskyblue;
            float:right;
            margin-top: -80px;
            margin-right: 150px;
        }
        #profile-photo{
            border-radius: 55%;
            height: 50px;
            width: 50px;
            margin-right:5px;
        }
    </style>
{% if messages %}
        <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
        </script>
{% endif %}
    {% if user.is_authenticated %}
        <div id="wrapper">
            <div id="banner-card">
                <h1 id = "explore-title">Explore</h1>
                <i style="color: lightskyblue; float:right; margin-right: 50px;" id="search-icon" class="fa fa-search w3-jumbo"></i>
                <br>
                <hr id="underline" style="width:50px;border:5px solid lightskyblue" class="w3-round">
                <br>
                <input type="text" id="class-search" onkeyup="classSearch()" placeholder="Search for a Class!">
            </div>
            {% if user.is_instructor %}
                <button id="add-class-container">
                    <h1 id="add-class-text">+ Add a Class</h1>
                </button>
                <div id="add-class-modal" class="modal">
                    <div class="modal-content">
                        <div id="add-class-banner">
                            <h3 id="banner-add-class-text">Add Your Class</h3>
                        </div>
                        <div id="modal-body">
                            <input placeholder="What is your class code?" id="add-class-class-name"/>
                            <textarea placeholder="Give your class a description" id="add-class-class-description"></textarea>
                            <button id="create-class-button" onclick="classCreation()">Submit</button>
                        </div>
                    </div>
                </div>
            {% endif %}
            <ul id="classes-list" class="class-list">
            {% for class in classes %}
                <li class="class-list-item">
                    <div class="class-container">
                        <button onclick="window.location.href='../groups/class/{{ class.class_id }}'" class="class-name-container">
                            <p class="class-name">{{ class.class_name }}</p>
                            {% if class.instructor_instance.profile_photo %}
                                <a href='../account/{{ class.instructor_instance.account_id }}' class="instructor-name"><img id="profile-photo" src="{{ class.instructor_instance.profile_photo.url }}">{{ class.instructor_instance.first_name }} {{ class.instructor_instance.last_name }}</a>
                            {% else %}
                                <a href='../account/{{ class.instructor_instance.account_id }}' class="instructor-name"><img id="profile-photo" src="../media/default.jpg">{{ class.instructor_instance.first_name }} {{ class.instructor_instance.last_name }}</a>
                            {% endif %}
                        </button>
                        <div class="description-container">
                            <h2 class="description-label">Description</h2>
                            <hr>
                            <p class="description">{{ class.description }}</p>
                        </div>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}

<script>
function classSearch() {
  // Declare variables
  var input, filter, ul, li, a, i, b, txtValue, txtValue2;
  input = document.getElementById('class-search');
  filter = input.value.toUpperCase();
  ul = document.getElementById("classes-list");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByClassName("class-name")[0];
    b = li[i].getElementsByClassName("description")[0];
    txtValue = a.textContent || a.innerText;
    txtValue2 = b.textContent || b.innerText;
    if (txtValue.toUpperCase().replace(/\s/g, '').indexOf(filter) > -1) {
      li[i].style.display = "";
    }
    else if(txtValue.toUpperCase().indexOf(filter) > -1){

    }
    else if(txtValue2.toUpperCase().replace(/\s/g, '').indexOf(filter) > -1){
        li[i].style.display = "";
    }
    else {
      li[i].style.display = "none";
    }
  }
}

var button = document.getElementById("add-class-container");
var modal = document.getElementById("add-class-modal");
var statusModal = document.getElementById("add-class-status-modal");

{% if request.user.is_instructor %}
    button.onclick = function() {
      modal.style.display = "block";
    };
{% endif %}

let error_message_displayed = false;
let success_message_displayed = false;
let modalBody = document.getElementById("modal-body");
let modalBodyStatus = document.getElementById("modal-body-status");


window.onclick = function(event) {
  console.log(event.target);
  if (event.target == modal) {
    modal.style.display = "none";
    if(error_message_displayed){
        modalBody.removeChild(document.getElementById("add-class-error-message"));
        error_message_displayed = false;
    }
    if(success_message_displayed){
        modalBody.removeChild(document.getElementById("add-class-success-message"));
        success_message_displayed = false;
        window.location.href = "../explore/";
    }
  }
};

function redirectToClass(class_id) {
    window.location.href = "/groups/class/" + class_id;
}
function classCreation(){
    let className = document.getElementById("add-class-class-name").value;
    let classDescription = document.getElementById("add-class-class-description").value;
    console.log(className.length);
    if((className.length === 0 || classDescription.length === 0)){
        if(error_message_displayed){
            modalBody.removeChild(document.getElementById("add-class-error-message"));
            error_message_displayed = false;
        }
        if(success_message_displayed){
            modalBody.removeChild(document.getElementById("add-class-success-message"));
            success_message_displayed = false;
        }
        let p = document.createElement('p');
        p.setAttribute("id", "add-class-error-message");
        p.innerHTML = "Both the class code and class description are required.";
        modalBody.prepend(p);
        error_message_displayed = true;
    }
    else{
        if(error_message_displayed){
            modalBody.removeChild(document.getElementById("add-class-error-message"));
            error_message_displayed = false;
        }
        if(success_message_displayed){
            modalBody.removeChild(document.getElementById("add-class-success-message"));
            success_message_displayed = false;
        }
        $.ajax({
        url: '{% url 'create_class' %}',
        method: 'post',
        data: {
            'csrfmiddlewaretoken': '{{ csrf_token }}',
            'class_name': className,
            'class_description': classDescription
        },
        dataType: 'json',
        success: function (data) {
            let className = document.getElementById("add-class-class-name").value;
            let classDescription = document.getElementById("add-class-class-description").value;
            document.getElementById("add-class-class-name").value="";
            document.getElementById("add-class-class-description").value="";
            let p = document.createElement('p');
            p.setAttribute("id", "add-class-success-message");
            p.innerHTML = "<p id=add-class-success-message>Your class has been successfully added. You can view it <a id='create-class-redirect' href=" + data["status"] + ">here</a>, or feel free to add another class.</p>";
            if(error_message_displayed) {
                modalBody.removeChild(document.getElementById("add-class-error-message"));
            }
            success_message_displayed = true;
            modalBody.prepend(p);
            modal.style.display = "block";
        },
        error: function (data){
            let p = document.createElement('p');
            p.setAttribute("id", "add-class-error-message");
            p.innerHTML = "A class with this class code already exists";
            if(error_message_displayed) {
                modalBody.removeChild(document.getElementById("add-class-error-message"));
            }
            error_message_displayed = true;
            modalBody.prepend(p);
            modal.style.display = "block";
        }
      });
    }
}
window.addEventListener( "pageshow", function ( event ) {
  var historyTraversal = event.persisted ||
                         ( typeof window.performance != "undefined" &&
                              window.performance.navigation.type === 2 );
  if ( historyTraversal ) {
    // Handle page restore.
    window.location.reload();
  }
});
</script>

{% endblock %}