<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

{% extends 'base.html' %}

{% block content %}
    {% include 'navbar.html' %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        #banner-card{
            background-color: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            padding-top: 3px;
            padding-left: 10px;
            padding-bottom: 15px;
            margin-bottom: 3%;
        }
        #wrapper{
            display: inline-block;
            margin-top: 10px;
            margin-left: 270px;
            width: 80%;
        }
        #leave-group-link{
            color: gray;
            float:right;
            margin-right: 20px;
            margin-top: 20px;
            background: none;
            outline: none;
            border: none;
        }
        #leave-group-link:hover{
            text-decoration: underline;
        }
        #request-to-join-link{
            color: gray;
            float:right;
            margin-right: 20px;
            margin-top: 20px;
            border: none;
            outline: none;
            background: none;
        }
        #group-title{
            display: inline-block;
            font-size: 64px;
            color: lightskyblue;
            font-family: 'Montserrat', sans-serif;
            margin-bottom: 20px;
        }
        #student-roster{
            margin-left: 8%;
        }
        #student-container{
            background-color: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            margin-bottom: 2%;
            margin-right: 2%;
            padding-left: 10px;
            padding-top:25px;
            padding-right: 10px;
            display: inline-block;
            padding-bottom: 10px;
            width: 400px;
            text-align: center;
        }
        .profile-photo{
            height: 100px;
            width: 100px;
            border-radius: 50%;
            margin-left: 25px;
            margin-bottom: 30px;
        }
        #info-container{
            word-wrap: break-word;
        }
        #student-name{
            font-family: 'Montserrat', sans-serif;
            color: lightskyblue;
            font-size: 30px;
        }
        #description{
            color: gray;
            font-family: 'Montserrat', sans-serif;
            word-wrap: break-word;
        }
        #remove-student{
            float: right;
            background: none;
            border: none;
            color: darkred;
            outline:none;
            font-size: 20px;
        }
        #class-name-text{
            color: gray;
            font-family: 'Montserrat', sans-serif;
            font-size: 24px;
        }
        #class-link{
            color: lightskyblue;
        }
        #add-students-button{
            border: none;
            background: none;
            font-family: 'Montserrat', sans-serif;
            font-size: 40px;
            color: dodgerblue;
            outline: none;
        }
        #confirm-removal{
            background: none;
            background-color: darkred;
            color: white;
            border: none;
            outline: none;
            height: 50px;
            width: 100px;
            margin-top: 70px;
        }
        #dont-confirm-removal{
            background: none;
            background-color: gray;
            color: white;
            border: none;
            outline: none;
            height: 50px;
            width: 100px;
            margin-top: 70px;
            margin-right: 50px;
        }
        #removal-text{
            color: darkred;
            font-size: 24px;
            font-family: 'Montserrat', sans-serif;
        }
        .remove-modal-content{
            position: absolute;
            background-color: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            height: 40%;
            width: 30%;
            margin: 20% auto;
            top:0;
	        bottom: 0;
	        left: 0;
	        right: 0;
            min-width: 850px;
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 30px;
            text-align: center;
        }
        #request-to-join-text{
            color: gray;
            float:right;
            margin-right: 20px;
            margin-top: 20px;
        }
    </style>

    {% if invalid %}
        <p style="margin-left: 300px; margin-top: 80px; position:absolute">This group does not exist</p>
    {% else %}
        <div id="wrapper">
            <div id="banner-card">
                {% if in_group %}
                    <button id="leave-group-link" onclick="leaveGroup()">Leave Group</button>
                {% elif request.user.pk != class.instructor_instance.account_id and not has_group %}
                    <button id="request-to-join-link" onclick="requestToJoinGroup(this)">Request to Join Group</button>
                {% endif %}
                <h1 id = "group-title">{{group_name}}</h1>
                <br>
                <p id="class-name-text">A group in <a id="class-link" href="/groups/class/{{ class.class_id }}">{{ class.class_name }}</a></p>
                <hr id="underline" style="width:50px;border:5px solid lightskyblue" class="w3-round">
                <br>
                <a href="../discussion">Group Discussion</a>
            </div>

            <div id="student-roster">
                {% for k,v in student_descriptions_skills.items %}
                    <div id="student-container" class="{{ k.student_instance.account_id }}">
                        {% if request.user.pk == class.instructor_instance.pk %}
                                <button onclick="removeStudentFromGroup(this)" id="remove-student">X</button>
                        {% endif %}
                        {% if k.student_instance.profile_photo %}
                            <img class="profile-photo" src="{{ k.student_instance.profile_photo.url }}"/>
                        {% else %}
                            <img class="profile-photo" src="../../media/default.jpg"/>
                        {% endif %}
                        <br>
                        <div id="info-container">
                            <a id="student-name" href="/account/{{ k.student_instance.account_id }}">{{ k.student_instance.first_name }} {{ k.student_instance.last_name }}</a>
                            <p id="description">{{ v.description }}</p>
                            <br>
                        </div>
                    </div>
                {% endfor %}
                {% if class.instructor_instance.account_id == request.user.pk %}
                    <button onclick="window.location.href='../groups/addstudents/{{ group_id }}'" id="add-students-button">+ Add Students</button>
                {% endif %}
            </div>
        </div>
    {% endif %}

    <div id="remove-modal" class="modal">
        <div id="remove-modal-body" class="remove-modal-content">
            <p id="removal-text">Are you sure you want to remove this student from this group?</p>
            <button id="dont-confirm-removal">No</button>
            <button id="confirm-removal" onclick="removeFromGroup()">Yes</button>
        </div>
    </div>

    <script>
        let studentId = null;
        removeModal = document.getElementById("remove-modal");
        noButton = document.getElementById("dont-confirm-removal");
        yesButton = document.getElementById("confirm-removal");
        function removeStudentFromGroup(elem){
            studentId = elem.parentElement.className;
            removeModal.style.display = "block";
        }
        noButton.onclick = function() {
            removeModal.style.display = "none";
        };

        window.onclick = function(event) {
            if (event.target == removeModal) {
                removeModal.style.display = "none";
            }
        };
        function leaveGroup(){
            $.ajax({
                    url: '/groups/leavegroup/',
                    method: 'post',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'group_id': '{{ group_id }}',
                    },
                    dataType: 'json',
                    success: function (data) {
                        if(data["message"] == "deleted group"){
                            window.location.href = "../groups/class/{{ class.class_id }}"
                        }
                        else {
                            window.location.href = "../groups/{{ group_id }}"
                        }
                    },
                    error: function (data){
                    }
                  });
        }
        function removeFromGroup(){
            $.ajax({
                    url: '/groups/removestudentfromgroup/',
                    method: 'post',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'group_id': '{{ group_id }}',
                        'student_id': studentId
                    },
                    dataType: 'json',
                    success: function (data) {
                        window.location.href="/groups/{{ group_id }}"
                    },
                    error: function (data){
                    }
                  });
        }
        function requestToJoinGroup(elem){
            $.ajax({
                    url: '/groups/requesttojoingroup/',
                    method: 'post',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'group_id': '{{ group_id }}',
                    },
                    dataType: 'json',
                    success: function (data) {
                        var parent = elem.parentElement;
                        parent.removeChild(elem);
                        let p = document.createElement('p');
                        p.setAttribute("id", "request-to-join-text");
                        p.innerHTML = "You have requested to join this group.";
                        parent.prepend(p);
                    },
                    error: function (data){
                    }
                  });
        }

    </script>

{% endblock %}
