<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% extends 'base.html' %}

{% block content %}
    <style>
        .msg-subject {
            width: 80%;
            background-color: darkorange;
            word-wrap: break-word;
            border-radius: 10px;
            padding: 10px;
            resize: none;
            outline: none;
            margin-bottom: 2px;
        }

        .collapsible {
            color: white;
            cursor: pointer;
            padding: 18px;
            width: 80%;
            text-align: left;
            outline: none;
            font-size: 15px;
            border:none;
        }

        .content {
            margin-bottom: 10px;
            padding: 0 18px;
            display: none;
            overflow: hidden;
            background-color: #f1f1f1;
        }

        .active, .collapsible:hover {
            opacity: .7;
        }

        .collapsible:focus {
            outline: none;
        }

        .w3-button:focus {
            outline: none;
        }

    </style>


    {% include 'navbar.html' %}
    <div style="height:100pt; margin-left:20em">
        <h1 style="color: darkorange; font-family: sans-serif; font-size: 4em; display:inline-block; margin-top: 0.5em">Group Name: {{ group_name }}</h1>
        <br>
        {% if user.pk in group_members %}
            <a style="color: darkorange" href="/groups/edit_group_name/{{ group_id }}">Edit Group Name</a>
        {% endif %}
    </div>

    <hr style="border-bottom: 5px solid orange; margin-bottom: 0;">

    <div style="height:100pt; margin-left:20em">

        {% for student_id, student_name in group_members.items %}
            {% if student.student_instance.profile_photo %}
                <img src="{{ student.student_instance.profile_photo.url }}" style="border-radius: 50%; width:40px;">
            {% else %}
                <img src="../media/default.jpg" style="border-radius: 50%; width:40px;">
            {% endif %}
            <h2 style="display: inline-block; margin-top: 0.5em"><a style="color: gray" href="/account/{{ student_id }}">{{ student_name }}</a></h2>
            <br>
        {% endfor %}
    </div>

    {#    source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_collapsible#}
    {% if in_group %}
        <div id="message-area" style="margin-left:20em">
            <div style="width:80%;">
                <h1 style="color: darkorange; font-family: sans-serif; font-size: 2em; display:inline-block; margin-top: 0.5em; margin-bottom: 0.5em">Group Messages </h1>
                <form style="position: relative;float: right"; action="add_message" method="POST">
                    <input type="hidden" name="group_id" value="{{ group_id }}" />
                    {% csrf_token %}
                    <input class="w3-button w3-xlarge w3-circle w3-orange" type="submit" value="+">
                </form>
            </div>

            {% for msg in messages %}
                <button type="button" class="collapsible msg-subject">{{ msg.subject }}</button>
                    <div class="content msg-subject">
                        <p>{{ msg.body }}</p>
                    </div>
            {% endfor %}

        </div>

    {% endif %}

    <div>
        {% if in_group %}
            <form action="leave-group" method="POST">
                <input type="hidden" name="group_id" value="{{ group_id }}" />
                {% csrf_token %}
                <input style="position:absolute; top:1em; right:1em; color: darkorange" type="submit" value="Leave Group">
            </form>
        {% else %}
            <form action="join-group" method="POST">
                <input type="hidden" name="group_members" value="{{ group_members }}" />
                <input type="hidden" name="group_id" value="{{ group_id }}" />
                {% csrf_token %}
                <input style="position:absolute; top:1em; right:1em; color: darkorange" type="submit" value="Join Group">
            </form>
        {% endif %}
    </div>


    <script>
         function hi() {
             alert("pressend");
         }

         var coll = document.getElementsByClassName("collapsible");
         var i;

         for (i = 0; i < coll.length; i++) {
              coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                  content.style.display = "none";
                } else {
                  content.style.display = "block";
                }
              });
}
    </script>

{% endblock %}
