<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href = "../static/css/group_detail.css">
<link href="https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps&display=swap" rel="stylesheet">
{% extends 'base.html' %}

{% block content %}
    {% include 'navbar.html' %}
    <div style="margin-left: 20%">
        <div>
            <h1>Group Name: {{ group_name }}</h1>
            {% if user.pk in group_members %}
                <a href="/groups/edit_group_name/{{ group_id }}">Edit Group Name</a>
            {% endif %}
            {% for student_id, student_name in group_members.items %}
                <h2><a href="/account/{{ student_id }}"> {{ student_name }}</a></h2>
            {% endfor %}
        </div>

        <div>
            {% if in_group %}
            <form action="leave-group" method="POST">
                <input type="hidden" name="group_id" value="{{ group_id }}" />
                {% csrf_token %}
                <input type="submit" value="Leave Group">
            </form>
            {% else %}
                <form action="join-group" method="POST">
                <input type="hidden" name="group_members" value="{{ group_members }}" />
                <input type="hidden" name="group_id" value="{{ group_id }}" />
                {% csrf_token %}
                <input type="submit" value="Join Group">
            </form>
            {% endif %}
        </div>

    </div>
{% endblock %}
