<!DOCTYPE html>
<html lang="en">
<head>
  <title>SQUAD</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-dark" style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
width:250px; height:100%; background-color: dodgerblue; position:fixed;">
<ul class="nav flex-column">
    <li class="nav-item">
        <h3 style = "color:white; margin-bottom: 30px; margin-left: 18px; word-wrap: break-word; width:200px" id="greeting"> Hi, {{ request.user.first_name }}!</h3>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/explore" style = "color:white; margin-bottom: 30px;">Explore</a>
    </li>
  <li class="nav-item">
    <a class="nav-link active" href="/account/{{ request.user.pk }}" style = "color:white; margin-bottom: 30px;">My Account</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/dashboard" style = "color:white; margin-bottom: 30px;">My Classes & Groups</a>
  </li>
  {% if user.is_all_read %}
  <li class="nav-item">
    <a class="nav-link" style = "color:white; margin-bottom: 30px;" href="{% url 'notification' %}">Notifications</a>
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link" style = "color:white; margin-bottom: 30px;" href="{% url 'notification' %}">Notifications(New unread)</a>
  </li>
  {% endif %}
</ul>
    <p><a id="logout" href="{% url 'logout' %}" style = "color:white; margin-left: 18px">Logout</a></p>
</nav>
</body>
</html>