<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<link rel="stylesheet" type="text/css" href = "../static/css/navbar.css">
<nav class="navbar navbar-dark" style="width:250px; height:100%; background-color: darkorange; position:fixed">
<ul class="nav flex-column">
    <li class="nav-item">
        <h3 id="greeting"> Hi, {{ user.username }}!</h3>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/explore">Explore</a>
    </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">My Account</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">My Classes & Groups</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Notifications</a>
  </li>
</ul>
    <p><a id="logout" href="{% url 'logout' %}">logout</a></p>
</nav>


</body>
</html>