<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href = "../static/css/group.css">
<link href="https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps&display=swap" rel="stylesheet">
{% extends 'base.html' %}

{% block content %}
    {% include 'navbar.html' %}
    <div style="margin-left: 275px">
    <P> is all read : {{ current_user.is_all_read }}</P>
    {% for notification in list_notification %}
        {% if notification.status != -3 %}
            <a href="/account/{{ notification.sender_instance.account_id }}">
                {{ notification.sender_instance.first_name }} {{ notification.sender_instance.last_name }}
            </a>
            {% if notification.status == -2 %}
                DELETED you from
            {% elif notification.status < 6 and notification.status > -2 %}
                wants to group with you in
            {% endif %}
            <a href="/class/{{ notification.class_instance.class_id}}">
                {{ notification.class_instance.class_name }}
            </a>
            &nbsp;&nbsp;
            {% if not notification.read %}
                <button onclick="location.href='{% url 'globalread' %}{{ notification.notification_id }}'">
                    READ
                </button>
            {% endif %}
            {% if notification.status == 1 or notification.status == 4 %}
                | you have accepted
            {% elif notification.status == 2 or notification.status == 5 %}
                | you have declined
            {% elif notification.status == -1 or notification.status == 3 %}
                <button onclick="location.href='/notification/accept/{{ notification.notification_id }}'">
                    ACCEPT
                </button>
                <button onclick="location.href='/notification/decline/{{ notification.notification_id }}'">
                    DECLINE
                </button>
            {% endif %}
            <br>

        {% endif %}
    {% endfor %}
    </div>
{% endblock %}