{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}
<div id="enrolled_classes" style="margin-left:20%">
<h1>Your Enrolled Classes: </h1>
{% for c in enrolled_class_list %}
    <a href="/class/{{ c.class_name }}">{{ c.class_name }}</a>
    &nbsp;&nbsp
{% endfor %}
</div>
{% if user.is_instructor %}
    <div id="created_classes" style="margin-left:20%">
    <h1>Your Created Classes:</h1>
    {% for c in created_class_list %}
        <a href="/class/{{ c.class_name }}">{{ c.class_name }}</a>
        <button onClick="confirm_delete({{ c.class_id }})">DELETE</button>
    {% endfor %}
    </div>
{% endif %}

<script>
function confirm_delete(str) {
    var boo = prompt("Type DELETE to confirm");
    if (boo === "DELETE") {
        var s = "/dashboard/del";
        s+=str;
        window.location.href=s;
    }
}
</script>

{% endblock %}