<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dash Board</title>
</head>
<body>
{% include 'navbar.html' %}
<div style="margin-left: 20%">
<h1>Your classes: </h1>
<br>
<script>
    function confirm_delete(str) {
        var boo = prompt("Type DELETE to confirm");
        if (boo === "DELETE") {
            var s = "/dashboard/del";
            s+=str;
            window.location.href=s;
        }
    }
</script>
{% if user_is_instructor %}
    <h3>You are instructor of : </h3>
    {% for c in is_instructor_of %}
    <a href="/groups/class/{{ c.class_id }}">{{ c.class_name }}</a>
    &nbsp;&nbsp<button onClick="confirm_delete({{ c.class_id }})">DELETE</button>
{% endfor %}
{% endif %}
<h3>You enroll in : </h3>
{% for c in myclasslist %}
    <a href="/groups/class/{{ c.class_id }}">{{ c.class_name }}</a>
    &nbsp;&nbsp
{% endfor %}
<h3>You are in group : </h3>
{% for gins, group_name in groups %}
    {% if gins.group_id != -1 %}
        <a href="/groups/{{ gins.group_id }}">{{ group_name }}</a>
    {% else %}
        <a>You have no groups</a>
    {% endif %}
    in
    <a href="/groups/class/{{ gins.class_instance.class_id }}">{{ gins.class_instance.class_name }}</a>
    <br>
{% endfor %}
</div>
</body>
</html>